* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto&display=swap');

/*!#############################*/
/*!######### NAVBAR ############*/
.navbar{
    max-width: 1440px;
    height: 112px;  
    background-color: #F2F5F7;     
}



/*!###############################*/
/*!######### MAIN.JSX ############*/

.mainPage{
    position: relative; 
    top: 112px;
    width: 1440px;
    height: 1040px;
    background-color: #F2F5F7;
}

header{
    position: absolute;
    top: 43px;
    left: 151px;
    color: #505D68;
}



header h1{
    width: 764px;
    height: 65px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: "Roboto";
}

header h2{
    width: 400px;
    height: 28px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.mainPage .left{
    width: 872px;
    position: absolute;
    top: 170px;
    left: 151px;
}

.tableDiv{
    padding: 18px 14px 3px;
    border-radius: 8px;
}

tr:last-child{
    border-bottom: 1px solid white;
}

tr:hover{
    cursor: pointer;
}

td p{
    margin: 0px
}
#tdLogo{
    padding-left: 20px !important;
    width: 76px;
}
#tdStop{
    text-align: end;
}
#tdPrice{
    text-align: end;
    padding-right: 25px !important;
}

p strong:first-child {
    margin-right: 2rem;
}

.right span,
.right p, .left span{
    font-weight: 600;
}

/*!#############################*/
/*!######### RIGHT ############*/
.right{
    position: absolute;
    top: 170px;
    left: 1059px;
    text-align: right;
}

.selectedInfo {
    width: 238px;
    height: 235px;
    background-color:#FFFFFF ;
    padding: 20px;
    border-radius: 12px;
}

.selectedInfo p{
    color: #605DEC;
}
.selectedPrices{
    padding: 20px;
    font-family: "Roboto";
    line-height: 1;
}


/*!#############################*/
/*!######### FOOTER ############*/
footer {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    z-index: 0;
    margin-top: 112px;
    padding-bottom: 1.5rem;
}

footer .d-flex {
    padding-left: 7rem;
}

footer section {
    margin: 1rem;
    width: 200px;
}

.sec1 {
    flex-grow: 3;
}

.sec1 p {
    max-width: 360px;
    padding-left: 1rem;
    font-size: 14px;
    line-height: 21px;
}

.sec1 .social {
    padding-left: 1rem;
}

.sec2 {
    flex-grow: 1;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2 h5 {
    padding-right: 25px;
}

.sec3 {
    flex-grow: 7;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

/*!###################################*/
/*!######### BOOKING PAGE ############*/

.bookingDiv {
    position: relative;
    top: 112px;
    width: 1440px;
    height: 1040px;
    background-color: #F2F5F7;
}

.bookingDiv .left {
    width: 568px;
    height: 506px;
    position: absolute;
    top: 159px;
    left: 151px;
    z-index: 3;
}

/*!#############################*/
/*!########## FORM #############*/
.formDiv{
    border-radius: 12px;
    
}

.input{
    position: relative;
    top: 0px;
    left: 0px;
}
/*? inputIcon */
.input span{
    position: absolute;
    top: 13px;
    right: 15px;
}

.formHeader h3{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #505D68;
}
.formHeader h6{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    color: #505D68;
}

.airplane{
    position: absolute;
    top: 500px;
    left: -545px; 
    animation: moveRight 4s ease-out forwards;
    z-index: 2;

}

@keyframes moveRight {
    0% {
        left: -545px;
    }

    100% {
        left: 1050px;
        transform: translateX(-50%);
    }
}


/*!##############################*/
/*!######### SUCCESS ############*/
.success{
    position: relative;
    width: 1440px;
    height: 1200px;
    background-color: #F2F5F7;
}
.success p{
    position: relative;
    top: 126px;
    left: 150px;
    border: 1px solid ;
    width: 496px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success img{
    position: absolute;
    top: 196px;
    left: 405px;
    width: 538px;
    height: 612px;
}

/*!#############################*/
/*!########## ERROR ############*/

.error{
    position: relative;
    width: 1440px;
    height: 1200px;
    background-color: #F2F5F7;
}

.background{
    width: 1440px;
    height: 722px;
    position: absolute;
    top: 250px;
    background-image: url("./img/successBackgroudn.png");
    background-size: 1440px 650px;
    background-repeat: no-repeat;

}

.background p{
    position: absolute;
    top: -100px;
    left: 150px;
    border: 1px solid #A40000 ;
    color: #A40000;
    width: 835px; 
    height: 64px;
    padding: 16px 16px 16px 24px;
    background-color: #FDEFEF;
    border-radius: 8px;
}

.background img{
    width: 446px;
    height: 455px;
    position: absolute;
    top: 100px;
    left: 497px;

}


/*todo ########################################*/
/*todo ############## MOBILE ##################*/

.mainMobile{
    position: relative;
    top: 110px;
    max-width: 576px;
    width: 100%;
    background-color: #F2F5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;

}
.upSection{
    display: flex;
    justify-content: space-around;
    
}
.downSection {
    display: flex;
}
.flyCard{
    width: 290px;
    height: 151px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    border-radius: 4px;
    position: relative;
}

.flyCard:active{
    background-color:#F6F6FE ;
    border: 1px solid #605DEC;
}

.flyCard p{
    margin-bottom: 0;
}
.flyCard div{
    padding-left: 1rem;
}

.mobileHeader{
    position: relative;
    height: 200px;
    width: 290px;
    top: 0;
}

.mobileHeader h1{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #505D68;
}

.mobileHeader h2{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: #505D68;
    margin-top: 1rem;
}

.footerMobile{
    text-align: center;
}

.footerMobile p{
    font-family: "Roboto";
    line-height: 21px;
    color: #505D68;
}

.footerMobile ul{
    list-style: none;
    text-align: center;
    line-height: 50px;
    padding-right: 20px;
}

.footerMobile img{
    margin: 2rem;
}

hr{
    width: 200px;
    border: 1px solid;
    color: #C2D1D9;
    margin: 0px auto;

}

/*todo #########################################*/
/*todo ############## RESPONs ##################*/

@media screen and (max-width: 576px) {
    .mainPage {
        display: none;
    }

    .mainFooter {
        display: none !important;
    }

    .right {
        display: none;
    }

    .flyInfoMobile {
        position: sticky;
        bottom: 0px;
        text-align: center;
        background-color: #F2F5F7;
        padding-top: 5px;
    }

    .flyInfoMobile .selectedInfo {
        width: 292px;
    }

    .flyInfoMobile .selectedPrices {
        width: 290px;
        text-align: right;
    }

    p strong:last-child {
        padding-right: 2rem;
    }

    /*!form */
    .bookingDiv{
        position: relative;
        top: 112px;
        width: 550px;
        height: 1040px;
        background-color: #F2F5F7;
    }
    .airplane{
        display: none;
    }

    .bookingDiv .left {
        width: 340px;
        height: 407px;
        position: relative;
        top: 190px;
        left: 4%;
        z-index: 3;
    }

    .bookingDiv header {
        position: absolute;
        top: 0px;
        left: 4%;
    }

    .table-title {
        width: 348px;
        text-align: center;

    }

    .flyInfoMobileBooking {
        position: absolute;
        top: 680px;
        left: 8%;
        text-align: center;
    }

    .flyInfoMobileBooking .selectedInfo {
        width: 292px;
    }

    .flyInfoMobileBooking .selectedPrices {
        width: 290px;
        text-align: right;
    }

    /*! success */
    .success img {
        position: absolute;
        top: 220px;
        left: 0px;
        width: 400px;
        height: 612px;
    }
    .success p {
        position: relative;
        top: 115px;
        left: 30px;
        border: 1px solid;
        width: 335px;
        height: 83px;
        padding: 0px 1rem;
        border-radius: 8px;
        font-size: 20px;
        color: #007B65;
    }
    
    /*! error */
    .background img {
        width: 446px;
        height: 455px;
        position: absolute;
        top: 50px;
        left: 0px; 
    }
    .background p {
        position: relative;
        top: -120px;
        left: 30px;
        border: 1px solid #A40000;
        color: #A40000;
        width: 335px;
        height: 110px;
        padding: 16px 16px 16px 24px;
        background-color: #FDEFEF;
        border-radius: 8px;
        text-align: center;
    }
}

@media screen and (min-width: 576px) {

    .mainMobile {
        display: none;
    }

    .footerMobile {
        display: none;
    }

    .flyInfoMobileBooking {
        display: none;
    }

}