* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* FOOTER */
.col_1{
    margin-left: 80px;
}
.col_1 div{
    width: 360px;
}

.col-2{
    display: flex;
    justify-content: center;
}