* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F2F5F7;
    height: 1440px;
    position: relative;
}


/*!##### FOOTER #####*/
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer .d-flex{
    padding-left: 7rem;
}

footer section{
  margin: 1rem;
  width: 200px;
}

.sec1{
    flex-grow: 3; 
}
.sec1 p{
    max-width: 360px;
    padding-left: 1rem;
    font-size: 14px;
    line-height: 21px;
}
.sec1 .social{
    padding-left: 1rem;
}

.sec2{
    flex-grow: 1;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2 h5 {
    padding-right: 25px;
}

.sec3{
    flex-grow: 7;   
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: black;
}



/*!##### TABLE ######*/
.tableDiv{
    position: relative;
    top: 83px;
    height: 80vh;
    margin-bottom: 100px;
}
.tableDiv .left{
    width: 872px;
    position: absolute;
    left: 151px;
}
table{
    margin-top: 20px;
    height: 550px;
}
.rounded{
    padding: 3px 14px;
}

.left .rounded{
    margin-top: 45px;
}
.right .rounded{
    margin-top: 38px;
}
.left .formDiv{
    margin-top: 75px;
}

tr:last-child{
    border-bottom: 1px solid white;
}

tr:hover{
    cursor: pointer;
}

td{
    padding: 10px !important;
}
td p{
    margin: 0px
}
#tdLogo{
    padding-left: 20px !important;
    width: 76px;
}
#tdStop{
    text-align: end;
}
#tdPrice{
    text-align: end;
    padding-right: 25px !important;
}

.table-title{
    width: 764px;
    font-size: 48px;
    line-height: 56.25px;
}


/*!##### RIGHT #####*/
.right{
    position: absolute;
    top: 95px;
    left: 1059px;
    text-align: right;
    
}

.rightBox{
    background-color: white;
    width: 238px;
    height: 235px;
    padding: 20px;
}
.rightBox p{
    color: blue;
}
.rightPrices{
    padding: 20px;
}


/*!##### BOOKING PAGE ##### */


.bookingDiv {
    position: relative;
    top: 83px;
    height: 80vh;
    margin-bottom: 100px;
}

.bookingDiv .left {
    width: 568px;
    position: absolute;
    left: 151px;
}

/*!##### FORM #####*/


.input{
    position: relative;
    top: 0px;
    left: 0px;
}
/*? inputIcon */
.input span{
    position: absolute;
    top: 13px;
    right: 15px;
}

.airplane{
    position: absolute;
    top: 500px;
    left: -545px;
    animation: moveRight 4s ease-out forwards;
    z-index: -2;

}

@keyframes moveRight {
    0% {
        left: -545px;
    }

    100% {
        left: 1050px;
        transform: translateX(-50%);
    }
}